*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* css grid */

.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "lateral-esquerdo lateral-direito"
    "footer footer";
}

.container div{
    padding: 20px;
}

#header{
    grid-area: header;
    background-color: rgb(40, 36, 51);
    color: white;
    text-align: center;
}

#lateral-esquerdo{
    grid-area: lateral-esquerdo;
    background-color: #a2a2a2;
}

#lateral-direito{
    grid-area: lateral-direito;
    background-color: #a2a2a2;

}

#footer{
    grid-area: footer;
    display: flex;
    padding: 20px;
    background-color:rgb(40, 36, 51);
    color: white;
    justify-content: space-around;
    font-size: 20px;
}

/*nav*/

#navegacao ul{
    display: flex;
    justify-content: right;
    
}

#navegacao a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.2em;
}
#navegacao a :hover{
    
    color: rgb(0, 131, 26);
   
}

#navegacao ul li{
    margin-right: 2em;
    list-style-type: none;
}

#logo{
    width: 10em;
    cursor: pointer;
}

/*lateral esquerdo card*/

.card{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card img{
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

button{
    padding: 1.5em 4em;                      
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}







