* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    background-color: black;
}

.container {
    background-color: rgb(0, 0, 0);
    padding: 15px;
    display: grid;
    grid-template-columns: 30% auto 30%;
    height: auto;
    justify-content: center;
}

.container div {
    padding: 20px;
    margin: 5px;
}

.logo-nome {
    background-color: rgb(40, 36, 51);
    border-radius: 20px;
    text-align: center;
}

.logo-nome img {
    width: 90%;
    margin: 0 auto;
    min-width: 40px;
    border-radius: 10px;
}

.logo-nome p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.logo-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(40, 36, 51);
    border-radius: 20px;
}

.logo-links a {
    margin: 15px;
}

.logo-links .icons {
    font-size: 30px;
    color: #fff;
}

.logo-links .icons:hover{
    color: rgb(129, 94, 226);
}

.nav {
    background-color: rgb(40, 36, 51);
    border-radius: 20px;
    text-align: center;
}

.nav li {
    font-size: 25px;
    list-style-type: none;
}

.nav li>a {
    color: white;
    text-decoration: none;
}

.nav li>a:hover {
    color: rgb(129, 94, 226);
    border-bottom: 1px solid #fff;
}

/* grid centro conteudo */

.conteudo {
    background-color: rgb(40, 36, 51);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.conteudo h2 {
    font-size: 30px;
    color: white;
}

.conteudo img {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    margin-top: 10px;
}

/* grid side direita */

.right-side {
    background-color: rgb(40, 36, 51);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.linguagens img {
    width: 150px;
    max-width: 100%;
}

.right-side h2 {
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

.ultimo-pj {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    border-radius: 20px;
}

.sobre {
    font-size: 21px;
    color: white;
    margin-top: 1rem;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
    }

    .side,
    .right-side {
        text-align: center;
    }

    .nav {
        margin-top: 20px;
    }

    .logo-nome,
    .logo-links {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .logo-links img {
        width: 30px;
    }

    .nav li {
        font-size: 20px;
    }

    .conteudo h2,
    .right-side h2 {
        font-size: 25px;
    }

    .sobre {
        font-size: 18px;
    }
}
