*{
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

@import "./color";

html,body{
  height: 100vh;
  background-color: $bg-primary-normal;
}

/* css grid */

.container{
  display: grid;
  grid-template-areas: 
  "header header header"
  "conteudo conteudo conteudo"
  "footer  footer footer";

  div{
    padding: 20px;
    justify-content: baseline;
  }
}

#header{
  grid-area: header;
  background-color: $bg-primary-normal;
  color: $white-normal;
  text-align: center;
}

#conteudo{
  grid-area: conteudo;
  background-color: $bg-primary-normal;
  margin-bottom: 10vh;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: center;
}


#footer{
  grid-area: footer;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: $bg-primary-normal;
  color: $white-normal;
  justify-content: space-around;
  
  
}

/*nav*/

#navegacao ul{
  display: flex;
  justify-content: right;
  
}

#navegacao a{
  text-decoration: none;
  color: $white-normal;
  font-weight: bold;
  font-size: 25px;
}
#navegacao a :hover{
  color: $purple-light;
  border-bottom: 1px solid $white-normal;
 
}

#navegacao ul li{
  margin-right: 2em;
  list-style-type: none;
}

#logo{
  width: 10em;
  cursor: pointer;
}

/*lateral esquerdo card*/

.card{
  background-color: $white-normal;
  border-radius: 10px;
  padding: 10px 5px;
  box-shadow: 0 0 10px $white-normal;
  text-align: center;
  width: 450px;

  img{
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .card-btns{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 10px;
    justify-content: center;
    align-items: center;
    

    .btn-project{
      padding: 0.8rem 2rem;
      font-weight: bold;
      background-color: $green-light;
      color: $black-normal;
      border: none;

      &:hover{
        opacity: 0.8;
      }
    }

    .btn-git{
      padding: 0.8rem 1.2rem;
      font-weight: bold;
      border: none;

      &:hover{
        opacity: 0.8;
      }
    }
  }
}


button{
  padding: 1.5em 4em;                      
  background-color: $black-normal;
  color: $white-normal;
  border-radius: 10px;
  cursor: pointer;
}


/* Responsividade */

/* @media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #header{
    width: 100vw;
    font-size: 10px;
  }

  #lateral-esquerdo {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: white;
  }

  #lateral-direito {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: white;
  }

  .card{
    width: 100vw;
  }

  #footer{
    font-size:100%;
    display: inline-block;
    width: 100vw;
  }

  .html, body{
    max-width: 100vw;
    height: 100vh;
  }
} */



@media (max-width: 768px) {

  html,
  body{
    background-color: $white-normal;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #header{
    width: calc(100vw - 17px); /* 17px é um valor comum para a largura da barra de rolagem */
    font-size: 10px;
  }

  #conteudo{
    width: calc(100vw - 17px); /* Correção aqui */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white-normal;
  }

  .card{
    width: calc(100% - 17px); /* Correção aqui */
  }

  #footer{
    font-size: 100%;
    display: inline-block;
    width: calc(100vw - 17px); /* Correção aqui */
  }

  html, body{
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden; /* Para esconder a barra de rolagem horizontal */
  }
}
