* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@import "./color";

html,
body {
    height: 100%;
    background-color: $black-normal;
}

.container {
    background-color: $black-normal;
    padding: 15px;
    display: grid;
    grid-template-columns: 30% auto 30%;
    height: auto;
    justify-content: center;

    div {
        padding: 20px;
        margin: 5px;
    }
}



.logo-nome {
    background-color: $bg-primary-normal;
    border-radius: 20px;
    text-align: center;

    img {
        width: 90%;
        margin: 0 auto;
        min-width: 40px;
        max-width: 200px;
        border-radius: 10px;
    }

    p {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: white;
        margin-bottom: 1rem;
    }

    a {
        text-decoration: none;
    }
    span{
        color: $white-normal;
        font-size: 20px;
        
    }

    .icons {
        font-size: 30px;
        color: $white-normal;
        margin-left: 1rem;
    }

    .icons:hover{
        color: $purple-light;
    }
}





.logo-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $bg-primary-normal;
    border-radius: 20px;

    a {
        margin: 15px;
    }

    .icons {
        font-size: 30px;
        color: $white-normal;
    }

    .icons:hover{
        color: $purple-light;
    }
}

.nav {
    background-color: $bg-primary-normal;
    border-radius: 20px;
    text-align: center;

    li {
        font-size: 25px;
        list-style-type: none;
    }

    li>a {
        color: $white-normal;
        text-decoration: none;
    }

    li>a:hover {
        color: $purple-light;
        border-bottom: 1px solid $white-normal;
    }
}


/* grid centro conteudo */

.conteudo {
    background-color: $bg-primary-normal;
    border-radius: 20px;
    text-align: center;
    padding: 20px;

    h2 {
        font-size: 30px;
        color: $white-normal;
    }

    img {
        width: 100%;
        max-width: 500px;
        border-radius: 20px;
        margin-top: 10px;
    }
}

/* grid side direita */

.right-side {
    background-color: $bg-primary-normal;
    border-radius: 20px;
    text-align: center;
    padding: 20px;

    h2 {
        font-size: 30px;
        color: $white-normal;
        margin-top: 10px;
    }
    
}

.linguagens img {
    width: 150px;
    max-width: 100%;
}


.ultimo-pj {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    border-radius: 20px;
}

.sobre {
    font-size: 21px;
    color: $white-normal;
    margin-top: 1rem;
}

.uj-p{
    font-size: 21px;
    color: $white-normal;
    margin-top: 10px;
}

.ver-projeto,
.ver-codigo{
    padding: 10px 30px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: $purple-light;
    color: $white-normal;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    opacity: 0.8;
}

.ver-projeto{
    background-color: $green-light;
}

.ver-projeto:hover,
.ver-codigo:hover{
    opacity: 1;
}

/* Media Queries */

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .side,
    .right-side {
        text-align: center;
    }

    .nav {
        margin-top: 20px;
    }

    .logo-nome,
    .logo-links {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .logo-links img {
        width: 30px;
    }

    .nav li {
        font-size: 20px;
    }

    .conteudo h2,
    .right-side h2 {
        font-size: 25px;
    }

    .sobre {
        font-size: 18px;
    }
    
}
